# @odyssee-software/thorium-huid Test Results

> **Started**: Sat, 20 Apr 2024 09:58:50 GMT

<center>

|Suites (1)|Tests (7)|
|:-:|:-:|
|![](https://img.shields.io/badge/Passed-1-green) | ![](https://img.shields.io/badge/Passed-7-green)|
|![](https://img.shields.io/badge/Failed-0-lightgrey) | ![](https://img.shields.io/badge/Failed-0-lightgrey)|
|![](https://img.shields.io/badge/Pending-0-lightgrey) | ![](https://img.shields.io/badge/Pending-0-lightgrey)|

---

<table>
<thead>
<tr>
<th>index.test.js</th>
<th></th>
<th></th>
<th>0.398</th>
</tr>
</thead>
<tbody>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID NIL is 000000000000-0000-0000-0000-000000000000</i></td>
<td>passed</td>
<td>0.002</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID NIL[encode]</i></td>
<td>passed</td>
<td>0.001</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID [V4]</i></td>
<td>passed</td>
<td>0.001</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID [HV1]</i></td>
<td>passed</td>
<td>0.015</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID [HV1]parent -&gt; [HV1]children</i></td>
<td>passed</td>
<td>0.003</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID [HV1]children -[extend]-&gt; [HV1]parent</i></td>
<td>passed</td>
<td>0.001</td>
</tr>
<tr style="background-color: lightgreen; color: black">
<td><strong>Hierarchical UUID</strong></td>
<td><i>UUID [HV1]children.collectionId -[extend]-&gt; [HV1]parent.collectionId</i></td>
<td>passed</td>
<td>0.002</td>
</tr>
</tbody>
</table>
</center>